/* Define Proxima Nova Font */
@font-face {
    font-family: "Proxima Nova";
    src: url(fonts/Monterrat-Light.otf);
}

body {
  font-family: "Proxima Nova", "Open Sans", Arial;
  background-color: #181818;
}

h1 {
  color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282828;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to spotify green on hover */
li a:hover {
    background-color: #1ED760;
}
