<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='{{ url_for("static", filename="css/style.css") }}' rel='stylesheet' type='text/css'>
    <title>Spotify Songs</title>
  </head>
  <body>
    <!-- <iframe src="https://embed.spotify.com/?uri={{ song.uri }}&view=coverart" width="300px" height="380px" frameborder="0" allowtransparency="true"></iframe> -->

    Here's a random song for you! {{ song.name }} by {{ song.artist }}. <br>

    <a href="{{ song.uri }}">Here's</a> the link to the song. <br>

    And, here's an image of the album cover. <br>

    <img src="{{ song.image }}">
  </body>
</html>
